#listsContainer{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: #fff;
}
.list{
    width: 18rem;
    padding: 20px;
    margin: 10px;
    background-color: #262626;
    color: #fff;
    max-height: 500px;
    
}
.tasks{
    overflow-y: scroll;
}
.task{
    padding: 10px;
    border-radius: 10px;
}
.task p{
   font-size: 13px;
}
.bi-pencil-square{
    font-size: 15px !important;
}