<!DOCTYPE html>
<html lang="tr">
<head>
   <%- include('../partials/head') %>
   <link rel="stylesheet" href="/static/css/board-details.css">
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="container">
        <div class="visitedPages mt-3">
            <h6>Son Ziyaret Edilen Sayfalar</h6>
            <div id="historyList"></div>
        </div>

        <div class="d-flex justify-content-between mt-5">
            <div class="d-flex justify-content-between align-items-center fs-3" id="boards-button">
                <a href="/boards" style="color: rgb(79, 80, 80);"><i class="bi bi-backspace"></i> Boards</a>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <h1 id="boardName" class="border-bottom"></h1>
                <a style="color: blue;" id="boardEdit"><i class="bi bi-pencil-square ms-3 fs-3"></i></a>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <a style="color: yellowgreen;" id="members" class="mx-1">Üyeler</a>
                <a style="color: green;" id="add-list" class="mx-1">Yeni Liste Ekle</a>
                <a style="color: red;" id="delete-board" class="mx-1">Board'u Sil</a>
            </div>
        </div>
        
        <div id="listsContainer"></div>
    </div>
    <script src="/static/js/board-details.js"></script>
    <script src="/static/js/logout.js"></script>
    <script src="/static/js/visitedPages.js"></script>

    <!-- Son ziyaret edilen sayfalar frontend -->
    <script>
        const historyList = document.getElementById('historyList');

        const pages = JSON.parse(localStorage.getItem('visitedPages')) || [];

        pages.forEach(page => {
            const item = document.createElement('a');
            item.style.color = "blue"
            item.textContent = " /" + page.title;
            item.href = page.url

            historyList.appendChild(item);
        });
    </script>
</body>
</html>
