<!DOCTYPE html>
<html lang="tr">
<head>
   <%- include('../partials/head') %>
   <link rel="stylesheet" href="/static/css/boards.css">
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="container">
        <h1 class="text-center">Boardlarım</h1>
        <a href="/add/boards">+ Board Ekle</a>
        <div id="boardsContainer"></div>
    </div>
   

    <script src="/static/js/boards.js"></script>
    <script src="/static/js/logout.js"></script>
    <script src="/static/js/visitedPages.js"></script>

</body>
</html>
