<!DOCTYPE html>
<html lang="tr">
<head>
   <%- include('../partials/head') %>
   <link rel="stylesheet" href="/static/css/board-details.css">
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="container">
        <div class="d-flex justify-content-between mt-5">
            <h1 id="boardName"></h1>
            <a style="color: red;" id="delete-board">Board'u Sil</a>
        </div>
        
        <div id="listsContainer"></div>
    </div>
    <script src="/static/js/board-details.js"></script>
    <script src="/static/js/logout.js"></script>
</body>
</html>
