<!DOCTYPE html>
<html lang="tr">
<head>
   <%- include('../partials/head') %>
   <link rel="stylesheet" href="/static/css/board-details.css">
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="container">
        <h1 id="boardName" class="mt-5"></h1>
        <div id="listsContainer"></div>
    </div>
    <script src="/static/js/board-details.js"></script>
    <script src="/static/js/logout.js"></script>
</body>
</html>
