<!DOCTYPE html>
<html lang="tr">
<head>
   <%- include('../partials/head') %>
   <link rel="stylesheet" href="/static/css/boards.css">
</head>
<body>
    <div class="container">
        <h1>Boardlarım</h1>
        <div id="boardsContainer"></div>
    </div>
   

    <script src="/static/js/boards.js"></script>
</body>
</html>
